<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Display page</title>
</head>
<body>
<h1>Display Page:</h1>
<form action="/display" method="post">
    <input type="text" name="issue">
    <input type="submit">
</form>
<br>
<table>
    <tr>
        <th>Ticket</th>
        <th>Date</th>
    </tr>
    {{#each data}}
        <tr>
            <td><a href="/ticket/{{this._id}}">{{this.issue}}</a></td>
            <td>{{formatDate this.date}}</td>
        </tr>
    {{/each}}
</table>
<br>
<form action="/deleteall?_method=delete" method="post">
    <button type="submit">Delete All</button>
</form>
</body>
</html>
