<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ticket</title>
</head>
<body>
<h1>Ticket information:</h1>
{{data.issue}}
<br>
{{formatDate data.date}}
<br>
<form action="/delete/{{data._id}}?_method=delete" method="post">
    <button type="submit">Delete This</button>
</form>
</body>
</html>
