<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ticket</title>
</head>
<body>
<h1>Ticket information:</h1>
{{data.issue}}
<br>
{{formatDate data.date}}
<br>
<form action="/update/{{data._id}}?_method=patch" method="post">
    <input type="text" name="issue">
    <input type="submit">
</form>
<br>
<form action="/delete/{{data._id}}?_method=delete" method="post">
    <button type="submit">Delete This</button>
</form>
<form>
    <a href="/display">display page</a>
</form>
</body>
</html>
