<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Info</title>
</head>
<body>
<h3>Username = {{username}}</h3>
<h4>City = {{city}}</h4>
<h4>State = {{state}}</h4>
<h6>Current date = {{date}}</h6>
</body>
</html>